
{% extends 'base.html' %}

{% block title %}Send password reset{% endblock %}

      {% block contents %}
      <hr>
      <div class="container">
        <div class="row">
          <div class="col offset-2 py-4">
              <h5>We have sent the password reset instructions by email. The email will arrive shortly</h5>
              <br>
              <h6>
                If you do not receive the email, please check that you have entered the registered email address and also check your spam folder.</h6>
              <br>
              <a "{% url 'photo:index' %}">Photo Gallery</a>
          </dv>
        </dv>
      </dv>
      {% endblock %}