{% extends 'base.html' %}

{% block title %}Reset password{% endblock %}

      {% block contents %}
      <div class="container">
        <div class="row">
          <div class="col py-4">
            <hr>
            <h3>Would you like to reset your password?</h3>
            <p>
              Please enter your registered email address. We will send you an email with a link to reset your password shortly.
            </p>
            <br>
            <form action="" method="POST" class="text-center">
              {% csrf_token %}
              {{form}}
              <input type="submit" value="Receive an email" /><br>
            </form>
            <br>
            <a href="{% url 'photo:index' %}">Photo Gallery</a>
            <hr>
          </dv>
        </dv>
      </dv>
      {% endblock %}
