{% extends 'base.html' %}
{% block title %}Photo Detail{% endblock %}

      {% block contents %}
      <br>
      <div class="container">
        <div class="row">
          <div class="col offset">
            <h2>{{object.title}}</h2>
            <p>{{object.comment}}</p>
            <br>
            <p>Posted at {{object.posted_at}}</p>
            <p><img src="{{ object.image1.url }}"></img></p>
            {% if object.image2 %}
              <p><img src="{{ object.image2.url }}"></img></p>
            {% endif %}

            <!-- if the request is by the user, delete the post -->
            {% if request.user == object.user %}
            <form method="POST">
            <a href="{% url 'photo:photo_delete' object.pk %}"
               class="btn btn-primary my-2">Delete</a>
            {% endif %}

          </dv>
        </dv>
      </dv>
      {% endblock %}
